node_modules
.DS_Store
.idea
.ignore
!.vscode/settings.json
.env
.env.disabled
.pgcli*
db/*
logs
.claude

!docker/dashboard
dashboard/src/environments/environment.review.ts
tmp
*.pem
*.crt
*.key

# notebooks
notebooks/scripts/playground
.ipynb_checkpoints/

# python
*.pyc
__pycache__

#dbt
logs/dbt.log
dbt/target
dbt/edr_target
.aider*

# Claude code
# Exclude local settings to let each dev
# set its own permissions.
.claude/settings.local.json

