# configure the virtual environment path for uv
UV_PROJECT_ENVIRONMENT=../.nix-venv

# Database configuration
MESHPGHOST=127.0.0.1
MESHPGPORT=5432
MESHPGUSER=postgres
MESHPGPASSWORD=postgres
MESHPGDBNAME=local

# S3 configuration
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=https://s3.fr-par.scw.cloud
DUCKDB_S3_ENDPOINT=s3.fr-par.scw.cloud
